<style>
    .carousel-inner {
        max-height: 42rem;
        padding: 5px;
    }
</style>

<section>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="./media/f1spa1.jpg" alt="F1 in SPA" class="bd-placeholder-img" width="100%" height="100%"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />

                <div class="container">
                    <div class="carousel-caption text-start text-dark">
                        <h1></h1>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="./media/f1spa2.jpg" alt="F1 in SPA" class="bd-placeholder-img" width="100%" height="100%"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />

                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p>
                            <br>
                            <br>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="./media/fispa3.jpg" alt="F1 in SPA" class="bd-placeholder-img" width="100%" height="100%"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1></h1>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-5">
                <a href="" target="_blank" rel="noopener noreferrer">
                </a>
            </div>
        </div>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    2021 Belgium GP Cancelled
                    <span class="text-muted">Only rain wins</span>
                </h2>
                <p class="lead">
                    It was midday when it started to rain heavily in the Ardennes and it was not going to stop. At 14:20
                    the cars came out of the garage for warm-up laps. Sergio Pérez crashed his Red Bull at Les Combes
                    and broke the wing and front suspension. He had originally dropped out. With the grid formed, F1
                    delayed the start by 25 minutes, until 15:25, and ran two more formation laps behind the safety car
                    before bringing out the red flag and sending everyone back to the pit-lane. Checo would have time to
                    rejoin because his mechanics were able to repair the damage. But there was little point in rushing.
                </p>
            </div>
            <div class="col-md-5">
                <a href="./construction" target="_blank" rel="noopener noreferrer">
                    <img src="./media/f1spanote1.jpg" alt=""
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                        height="700" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </a>
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    2020 Belgium GP
                    <span class="text-muted"> summary and result of the race</span>
                </h2>
                <p class="lead">
                    VICTORY FOR LEWIS HAMILTON! The Briton was unchallenged and led from start to finish despite
                    suffering with tyre problems in the closing stages of the race. He is two wins away from beating
                    Schumacher's World Championship record, with Bottas and Verstappen completing the podium. Another
                    Mercedes double in a race where the fastest lap was for Ricciardo, fourth. The only excitement of
                    the race was the accident involving Italian Antonio Giovinazzi (Alfa Romeo) and Englishman George
                    Russell (Williams) on lap eleven. For this incident, which did not cause any injuries to the
                    protagonists, the race was neutralised for four laps.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="./construction" target="_blank" rel="noopener noreferrer">
                    <img src="./media/f1spanote2.jpg" alt=""
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                        height="700" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </a>
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    2019 Belgium GP
                    <span class="text-muted"> Ferrari at podium</span>
                </h2>
                <p class="lead">
                    Charles Leclerc claimed the first Formula 1 victory of his career and Ferrari’s first in the 2019
                    campaign in the Belgium Grand Prix at Spa-Francorchamps, less than 24 hours after his friend
                    Anthoine Hubert passed away after a crash in Saturday’s F2 feature race.
                    The Monegasque, who immediately dedicated his win to Hubert, who he grew up racing, was in a league
                    of his own all weekend, topping two of the three practice sessions and all three segments of
                    qualifying on his way to his third pole position.
                    Come race day, Leclerc led away from P1 and though he lost track position to team mate Sebastian
                    Vettel during the pit stops, Ferrari instructed Vettel to move aside for the flying polesitter.
                </p>
            </div>
            <div class="col-md-5">
                <a href="./construction" target="_blank" rel="noopener noreferrer">
                    <img src="./media/f1spanote3.jpg" alt=""
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                        height="700" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </a>
            </div>
        </div>

        <hr class="featurette-divider" />

        <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->
</section>