<style>
    .carousel-inner {
        max-height: 42rem;
        padding: 5px;
    }
</style>

<section>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="./media/enduranceslider1.jpg" alt="LMP1 in SPA" class="bd-placeholder-img" width="100%"
                    height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1></h1>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>


            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="./media/enduranceslider2.jpg" alt="LMP1 in SPA" class="bd-placeholder-img" width="100%"
                    height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />

            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="./media/enduranceslider3.jpg" alt="LMP1 in SPA" class="bd-placeholder-img" width="100%"
                    height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-5">
                <a href="" target="_blank" rel="noopener noreferrer">
                </a>
            </div>
        </div>
        
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Hypercar
                    <span class="text-muted"> makes its debut</span>
                </h2>
                <p class="lead">
                    The Le Mans Hypercar era has finally arrived. After years of build-up, and plenty of twists and
                    turns along the way in the formation of the new category, LMP1 is no more and LMH has taken over
                    as the top class in ACO-sanctioned racing. <br>
                    This process hasn’t been without politicking, and right up until the green flag being waved at
                    the start of the race, there was still much debate. The main topic between key stakeholders on
                    this occasion(unsurprisingly) concerned the performance levels of the LMH and LMP2 categories.
                    All the teams involved invested in LMP2 because of its performance level being as impressive at
                    it was, and spent a lot more money on the current-gen chassis to achieve this. The cars were
                    designed with the original level of performance in mind too.
                </p>
            </div>
            <div class="col-md-5">
                <a href="./construction" target="_blank" rel="noopener noreferrer">
                    <img src="./media/lmp1note3.jpg" alt="LMP1 1"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                        height="700" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </a>
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    A word on
                    <span class="text-muted"> Oliver Gavin</span>
                </h2>
                <p class="lead">
                    Before we look ahead to the next FIA WEC meeting at Portimao in June, it’s only right that we
                    celebrate the career of Oliver Gavin, who made the 6 Hours of Spa the final race in his
                    professional career as a driver. <br>
                    During his time spent with Corvette Racing, he racked up a huge list of accolades, including
                    five Sebring 12 Hours class wins, five Le Mans 24 Hours class wins, five Petit Le Mans class
                    wins, plus multiple GT championships in the American Le Mans Series and IMSA WeatherTech Sports
                    Car Championship.
                    He is everything that Corvette Racing stands for, a key part of a wider family, that showed and
                    was shown loyalty by those around him for two decades. Through multiple generations of Corvette
                    Racing, he was there and winning races, and never showed any signs if slowing down.

                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="./construction" target="_blank" rel="noopener noreferrer">
                    <img src="./media/lmp1note2.jpg" alt="LMP1 2"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                        height="700" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </a>
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    An expensive weekend
                    <span class="text-muted"> for Aston Martin</span>
                </h2>
                <p class="lead">
                    Spa wasn’t likely to be anyone’s first choice for a pre-season test just days before the season
                    opener, but the decision was nevertheless taken to hold the WEC Prologue at the Belgian circuit
                    this year after the Portimao race (originally scheduled to be the opener) was shifted to June.
                    <br>
                    As every keen motorsport fan knows, Spa is an unforgiving circuit, which rewards bravery and
                    heavily punishes mistakes. The combination of new drivers, at new teams, in new cars, at Spa
                    during the week resulted in some expensive incidents.
                    Notably three of the five brand new customer Porsche 911 RSR 19s, two LMP2 ORECAs and two Aston
                    Martins had huge offs, which required major rebuilds. Project 1 even had its weekend ended
                    prematurely after Egidio Perfetti’s shunt at Raidillon during qualifying.
                </p>
            </div>
            <div class="col-md-5">
                <a href="./construction" target="_blank" rel="noopener noreferrer">
                    <img src="./media/lmp1note.jpg" alt="LMP1 3"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                        height="700" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </a>
            </div>
        </div>

        <hr class="featurette-divider" />

        <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->
</section>